@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
/* @import "~react-image-gallery/styles/css/image-gallery.css"; */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@700&family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@300&family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@700&family=Kanit:wght@200&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@300&family=Kanit:wght@200&family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,300&family=Prompt&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display:ital,wght@1,500&family=Prompt&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display:wght@500&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Edu+TAS+Beginner:wght@500&family=Inria+Sans:wght@700&family=Kanit:wght@200;400;500&family=Nunito+Sans:opsz,wght@6..12,300&family=Playfair+Display:wght@500&family=Prompt&family=Roboto+Slab&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.containcalen{
  margin: 50px;
}
.opencalen{
width:70%;
height:90%;
background-color:rgb(163, 195, 236);
margin-top:30px;
margin-left:30px;
border-radius: 10px;
padding: 200px;

}
.fontcalen{
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
}
.styletablecalen{

    height:50px;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
}
    @media (max-width: 1000px) { 
      .containcalen{
        margin: 10px;
      }
      .opencalen{
      width:70%;
      height:90%;
      background-color:rgb(163, 195, 236);
      margin-top:30px;
      margin-left:0px;
      border-radius: 10px;
      padding: 200px;
      
      }
      .styletablecalen{
            height:50px;
            font-size: 15px;
            font-family: 'Roboto Condensed', sans-serif;
        }
      }
      /* @media (max-width: 700px) { 
        .styletablecalen{
  
          border-radius:100px;
              height:50px;
              font-size: 14px;
              font-family: 'Roboto Condensed', sans-serif;
          }
        } */
.margin{
  margin-left: 10%;
  margin-bottom: 70px;
}
.bg{

    background-color: #fcfcfe;
    width:100%;
    height:1500px;
    background-repeat:no-repeat;
    background-size:cover;
            padding-bottom: 40px;
            background-position:bottom;
            padding-top: 200px;
  
  
}
.selectt{
  margin-left:6rem;
 margin-right:5rem;
 margin-top: 20px;
 }
 .selectbook{
  width:550px;
  margin-left:30rem;
  margin-right:50px;}
/* --------home---------- */
@media (max-width: 1000px) { 
  
  .selectbook{
  width:550px;
  margin-left:120px;
  margin-right:50px;
 }
.selectt{
 margin-left:60px;
margin-right:50px;
}}

h1,
p {
  font-family: "Roboto Slab";
}
h3 {
  font-family: "Roboto Slab";
  color: white;
  font-size: 32px;
  font-weight: bold;
}
h2 {
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
h4 {
  font-family: "Inria Sans", sans-serif;
  font-size: 18px;
}
h5 {
 
font-family: 'Inria Sans';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 43px;

color: #FFFFFF;

text-shadow: 2px 4px 4px #000000;

}
/* --------login------------ */
.marginlog{
  padding-left:10%;
}
.bgblur {
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 50px;
  padding:30px;
  padding-top: 100px;
    margin-Left:20%;
    padding-bottom:200px;
    width:60%;
    height:85%;
}
.buttonlog{
width:35%;
margin-right:20%;
margin-top:30px;
font-size:20px;
margin-top:30px;
font-family: Roboto Slab;
font-weight:bold;
background-Color:#FDB000;
  border-Color:black;}
@media (max-width: 1000px) {
  .marginlog{
    padding-left:15%;
    padding-right:5%;
  }
  .buttonlog{
    width:100px;
    margin-left:10px;
    margin-top:30px;
    font-family: "Roboto Slab";
    font-weight:bold;
    border-color:black;
 
  }
  .bgblur {
  margin-top: 10px;
 
    padding:0px;
    padding-top: 50px;
     width:75%;
     height:100%;
     margin: 0px;
     margin-left:5rem;
  }}
  @media (max-width: 450px) {
    .marginlog{
      padding-left:5%;
      padding-right:5%;
    }
    .buttonlog{
      width:100px;
      margin-left:18%;
      margin-top:30px;
      font-family: "Roboto Slab";
      font-weight:bold;
      border-color:black;
   
    }
    .bgblur {
    margin-top: 10px;
     padding-left:-30px;
      padding:0px;
      padding-top: 50px;
       width:300px;
       height:100%;
       margin: 0px;
       margin-left: 2rem;
    }}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* CSS File */
.custom-table {
  /* Custom styles for the table */
}
.custom-calendar {
  font-family: 'Roboto Slab';
  margin-left: 550px;
  color: #000;
  background-color: lightblue;

}

.react-calendar__tile--active {
  background-color: #3498db; /* Change this to your desired highlight color */
  color: #fff; /* Change this to the text color you prefer */
}

.highlighted {
  background-color: red; /* Change this to your desired highlight color */
  color: #fff; /* Change this to the text color you prefer */
}

/* ตัวอย่างการตกแต่งวันที่เมื่อมีการ hover */
.react-calendar__tile--hover {
  background-color: #b3e5fc;
}
.even-row {
  background-color: #2196f3;
}

.odd-row {
  background-color: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
